<section id="intro">
	<!-- Header -->
	<div class="intro-header">

		<div class="container header-container">

			<div class="row">
				<div class="intro-image col-md-4"></div>
				<div class="intro-message col-md-6">
					<h1>{{ .Site.Title }}</h1>
					<hr class="intro-divider">
					<h3>{{ .Site.Params.description }}</h3>

					
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
